VITE_JIRA_PROJECT_KEY=RU
VITE_JIRA_ISSUE_TYPE=Task

# Optional Firebase config (enable Firestore + Auth)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FUNCTION_REGION=europe-central2
# Optional: local emulator toggle (and port)
VITE_USE_EMULATORS=false
VITE_FUNCTIONS_EMULATOR_HOST=localhost
VITE_FUNCTIONS_EMULATOR_PORT=5001
